{% extends 'base.html.twig' %}


{% block body %}


    <div class="starter-template">
        <h1 class="display-1">Petshop - School of net</h1>
        <p class="lead">Avançando com Symfony 4 - indo mais fundo com doctrine</p>
    </div>

{% endblock %}
